.gradle
.gradle/gradle.log
.gradle/3.0/taskArtifacts/cache.properties.lock
.gradle/3.0/taskArtifacts/cache.properties
.gradle/3.0/taskArtifacts/fileHashes.bin
.gradle/3.0/taskArtifacts/fileSnapshots.bin
.gradle/3.0/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
.gradle/3.0/taskArtifacts/cache.properties.lock
.gradle/3.0/taskArtifacts/taskArtifacts.bin
.gradle/gradle.log
.idea/encodings.xml
.idea/
eclipse/
MelAds.iml
MelAds.ipr
MelAds.iws